 <FORM action="../prueba2" method="post">
		keywods: <input type="text" name="keywords">
		<input type="submit" value="Submit">
		identifier: <input type="text" name="publisher">
		<input type="submit" value="Submit">
		identifier2: <input type="text" name="other">
		<input type="submit" value="Submit">
		search: <input type="text" name="search">
		<input type="submit" value="Submit">
		numberReturned: <input type="text" name="numberReturned">
		<input type="submit" value="Submit">
		total: <input type="text" name="total">
		<input type="submit" value="Submit">
		form: <input type="text" name="form">
		<input type="submit" value="Submit">
		resoure: <input type="text" name="resoure">
		<input type="submit" value="Submit">
		max: <input type="text" name="max">
		<input type="submit" value="Submit">
		
 </FORM>
