<!doctype html>
	<table border = "1">
	<tr>
		<th>Catalogo</th>
		<th> SCS </th>
		<th> SIA </th>
		<th> SSA </th>
		<th> TAP </th>
	</tr>

	{% for catalog in cat.keys() %}
		<tr>
			<td> {{catalog}} </td>
			
			{% if "scs" in cat[catalog].keys() %}
			<td> X </td>
			{% endif %}
			{% if "sia" in cat[catalog].keys() %}
			<td> X </td>
			{% endif %}
			
			{% if "ssa" in cat[catalog].keys() %}
			<td> X </td>
			{% endif %}
			
			{% if "tap" in cat[catalog].keys() %}
			<td> X </td>
			{% endif %}
			
		
		</tr>

	{% endfor %}
	</table>
