<h1>Welcome to ChiVO Web Service</h1>
<h2> Alma data requests </h2>
<p> We implemented TAP, SCS, SIA , SSA services, to request any of them just
send via GET/POST the query with parameters to dachs.lirae.cl/alma/{service} (service can be tap,scs,sia,ssa) </p>
<h2> To get the access url to other catalogs</h2>
<p> Go to dachs.lirae.cl/external/registry or dachs.lirae.cl/external/{service}</p>
<p> We use Json responses</p>
<p>For more information please visit <a href=https://github.com/ChileanVirtualObservatory/flask_endpoint> Github </a> </p>
